

.card1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#hiking1{
    background: url('../images/img9.avif') no-repeat center center;
    width: 100%;
}


