#home{
    background: url('../images/img1.jpeg') no-repeat ;
    background-size: cover;
    min-width: 100%;
    height: 400px;
    position: relative;
}

#home1{
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-flow: row;
    
}



  @media screen and (max-width: 768px) {
   
  } 

  @media screen and (max-width: 576px) {
    #home{
      height: 500px;
    }
    #home1 {
      top: 390px;
      display: flex;
      flex-flow: column;
      margin-bottom: auto;
    }
    
  } 

 